---
// Fundations
import DocsLayout from "@/layouts/DocsLayout.astro";
import RightSidebarLayout from "@/layouts/RightSidebarLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Header from "@/components/fundations/containers/Header.astro";
// Scripts
import TagsAsideScript from "@/components/fundations/scripts/TagsAsideScript.astro";
// Components
import IntegrationsCard from "@/components/integrations/IntegrationsCard.astro";
// Content
import { getCollection } from "astro:content";
const allIntegrations = (await getCollection("integrations")).sort((a, b) =>
  a.data.integration.localeCompare(b.data.integration)
);
const allTags = Array.from(
  new Set(allIntegrations.flatMap((post) => post.data.tags))
).sort();
---

<DocsLayout>
  <section>
    <RightSidebarLayout>
      <div slot="main">
        <Header
          title="ZeroIndex integrations"
          innerClass="pt-24 "
          description="The coolest way to integrate Astro with your favorite tools."
        />
        <div class="flex flex-col px-8 gap-4 gap-y-24">
          {
            allTags.map((tag) => (
              <section id={`tag-${tag}`} class="pt-4 ">
                <Text
                  tag="h2"
                  variant="textBase"
                  class="capitalize  text-base-900 dark:text-white"
                >
                  {tag}
                </Text>
                <div class="mt-4 grid grid-cols-1 md:grid-cols-2  gap-2">
                  {allIntegrations
                    .filter((post) => post.data.tags.includes(tag))
                    .map((post) => (
                      <IntegrationsCard post={post} />
                    ))}
                </div>
              </section>
            ))
          }
        </div>
      </div>
      <div slot="rightAside">
        <nav class="pt-4" aria-label="Page sections navigation">
          <Text
            tag="h4"
            variant="textSM"
            class="ml-4 text text-base-900 dark:text-white">On this page</Text
          >
          <ul class="flex flex-col justify-between mt-4">
            {
              allTags.map((tag) => (
                <li>
                  <a
                    href={`#tag-${tag}`}
                    aria-label={`Jump to ${tag} integrations`}
                    class="capitalize block py-0.5 text-xs text-base-500 dark:text-base-400 hover:text-accent-600 dark:hover:text-accent-400 transition-all duration-200 border-l-2 border-transparent pl-4"
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </RightSidebarLayout>
  </section>
</DocsLayout>
<TagsAsideScript />
