---
import DocsLayout from "@/layouts/DocsLayout.astro";
import Header from "@/components/fundations/containers/Header.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Badge from "@/components/fundations/elements/Badge.astro";
import Plus from "@/components//fundations/icons/Plus.astro"; // Example icon
function formatLabel(text: string) {
  return text
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
const variants = [
  "default",
  "accent",
  "muted",
  "info",
  "success",
  "warning",
  "danger",
];
const sizes = ["sm", "md", "lg"];
---
<DocsLayout>
  <section>
    <Header title="Badges" innerClass="pt-24" />
    <div class="p-8 flex flex-col gap-y-24">
      {
        variants.map((variant) => (
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <!-- Text Only -->
            <div class="lg:col-span-2">
              <Text
                tag="p"
                variant="textXS"
                class="font-medium uppercase text-base-900 dark:text-white"
              >
                {formatLabel(variant)} Text
              </Text>
              <div class="flex flex-wrap mt-2 gap-2 gap-y-4">
                {sizes.map((size) => (
                  <Badge variant={variant} size={size}>
                    {`${formatLabel(variant)} ${size.toUpperCase()}`}
                  </Badge>
                ))}
              </div>
            </div>
            <!-- With Icon -->
            <div>
              <Text
                tag="p"
                variant="textXS"
                class="font-medium uppercase text-base-900 dark:text-white"
              >
                With Icon
              </Text>
              <div class="flex flex-wrap mt-2 gap-2">
                {sizes.map((size) => (
                  <Badge variant={variant} size={size}>
                    <Plus slot="left-icon" size="xs" />
                    {size.toUpperCase()}
                  </Badge>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</DocsLayout>
