---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, name, image, role } = {
  url: "/team/" + Astro.props.post.id,
  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
};
---

<div class="relative flex gap-2 flex-col">
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <Image
    width="800"
    height="800"
    src={image}
    alt={name}
    loading="eager"
    decoding="async"
    class="object-cover w-full rounded-xl aspect-12/8 object-center"
  />

  <div>
    <Text
      tag="h3"
      variant="textBase"
      class="font-medium text-base-900 dark:text-white"
    >
      {name}
    </Text>
    <Text tag="p" variant="textXS" class="text-base-500 dark:text-base-300">
      {role}
    </Text>
  </div>
</div>
