---
// Assets
import { Image } from "astro:assets";
// Fundations
import DocsLayout from "@/layouts/DocsLayout.astro";
import RightSidebarLayout from "@/layouts/RightSidebarLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Header from "@/components/fundations/containers/Header.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Content
const { frontmatter, previous, next } = Astro.props;
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: "Integrations", href: "/integrations/home" },
  { label: frontmatter.integration, href: "#" },
];
---

<DocsLayout>
  <section>
    <RightSidebarLayout>
      <div slot="main">
        <Header
          title={frontmatter.integration}
          description={frontmatter.description}
          innerClass="gap-24 lg:gap-32"
        >
          <nav aria-label="Breadcrumb" class="order-first">
            <ol
              class="flex items-center text-xs gap-1 text-base-500 dark:text-base-300"
            >
              {
                breadcrumbs.map((item, index) => (
                  <>
                    <li>
                      {index < breadcrumbs.length - 1 ? (
                        <a
                          href={item.href}
                          class="text-xs font-medium hover:text-accent-500 text-base-900 dark:text-white"
                        >
                          {item.label}
                        </a>
                      ) : (
                        <span class="text-xs font-medium text-accent-500">
                          {item.label}
                        </span>
                      )}
                    </li>
                    {index < breadcrumbs.length - 1 && (
                      <li class="text-base-400">
                        <ChevronRight size="xs" />
                      </li>
                    )}
                  </>
                ))
              }
            </ol>
          </nav>
        </Header>
        <section>
          <Wrapper variant="prose" class="px-8 py-8"><slot /></Wrapper>
        </section>
      </div>
      <div slot="rightAside">
        <div class="p-4">
          <Image
            src={frontmatter.logo.url}
            alt={frontmatter.integration}
            width={300}
            height={300}
            class="size-8"
          />
          <dl
            class="flex flex-col mt-4 divide-y divide-base-200 dark:divide-base-700"
          >
            {
              frontmatter.details.map((detail) => (
                <div class="py-2 gap-2">
                  <dt>
                    <Text
                      tag="h4"
                      variant="textSM"
                      class="font-medium text-base-900 dark:text-white"
                    >
                      {detail.title}
                    </Text>
                  </dt>
                  <dd>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="capitalize text-base-500 dark:text-base-400 lg:text-balance"
                    >
                      {detail.url ? (
                        <a
                          class="hover:text-accent-500 duration-400"
                          href={detail.url}
                        >
                          {detail.value}
                        </a>
                      ) : (
                        detail.value
                      )}
                    </Text>
                  </dd>
                </div>
              ))
            }
          </dl>
          <Button isLink={true} size="xs" variant="accent" class="mt-8 w-fit">
            Visit repo
          </Button>
        </div>
      </div>
    </RightSidebarLayout>
    <nav
      aria-label="Integration pagination"
      class="w-full border-t grid grid-cols-1 md:grid-cols-2 divide-y divide-base-200 dark:divide-base-800 lg:divide-y-0 lg:divide-x border-base-200 dark:border-base-800"
    >
      <div class="w-full">
        {
          previous && (
            <a
              href={`/integrations/${previous.id}`}
              class="flex flex-col w-full p-8 gap-12 group hover:bg-base-50 dark:hover:bg-white/1 duration-200"
            >
              <span class="font-mono text-xs font-medium tracking-wide uppercase text-base-500 dark:text-base-400">
                Previous
              </span>
              <div>
                <div class="text-sm font-medium truncate text-base-900 dark:text-white group-hover:text-accent-600 dark:group-hover:text-accent-400 transition-colors">
                  {previous.data.title || previous.data.integration}
                </div>
                <div class="text-xs capitalize text-base-500 dark:text-base-400">
                  {previous.data.category?.replace("-", " ")}
                </div>
              </div>
            </a>
          )
        }
      </div>
      <div class="w-full">
        {
          next && (
            <a
              href={`/integrations/${next.id}`}
              class="flex flex-col justify-end w-full p-8 gap-12 group hover:bg-base-50 dark:hover:bg-white/1 duration-200"
            >
              <span class="font-mono text-xs font-medium tracking-wide uppercase text-base-500 dark:text-base-400">
                Next
              </span>
              <div>
                <div class="text-sm font-medium truncate text-base-900 dark:text-white group-hover:text-accent-600 dark:group-hover:text-accent-400 transition-colors">
                  {next.data.title || next.data.integration}
                </div>
                <div class="text-xs capitalize text-base-500 dark:text-base-400">
                  {next.data.category?.replace("-", " ")}
                </div>
              </div>
            </a>
          )
        }
      </div>
    </nav>
  </section>
</DocsLayout>
